# Domain
DOMAIN=infraess.com
TRAEFIK_HOST_NAME=traefik.infraess.com
KEYCLOAK_HOSTNAME=keycloak.infraess.com

# Keycloak Database
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change_me

# Keycloak Admin
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

# OAuth2 Proxy
OAUTH2_PROXY_CLIENT_ID=oauth2-proxy
OAUTH2_PROXY_CLIENT_SECRET=change_me
# Generate with: openssl rand -base64 24
OAUTH2_PROXY_COOKIE_SECRET=change_me
