# Domain
DOMAIN=infraess.com
TRAEFIK_HOSTNAME=traefik.infraess.com
AUTHENTIK_HOSTNAME=auth.infraess.com
GRAFANA_HOSTNAME=grafana.infraess.com

# Grafana Admin
GRAFANA_ADMIN_USERNAME=admin
GRAFANA_ADMIN_PASSWORD=change_me

# Authentik Database
AUTHENTIK_DB_NAME=authentik
AUTHENTIK_DB_USER=authentik
AUTHENTIK_DB_PASSWORD=change_me

# Authentik
# Generate with: openssl rand -base64 60
AUTHENTIK_SECRET_KEY=change_me

# Authentik — Grafana OAuth2 application credentials (configured in Authentik UI)
AUTHENTIK_GRAFANA_CLIENT_ID=change_me
AUTHENTIK_GRAFANA_CLIENT_SECRET=change_me
